<div class="score-div"
  data-controller="compare"
  data-compare-potential-locations-value="<%= @potentialLocations.to_json %>"
  data-compare-map-id-value="<%= @map.id %>"
  data-compare-point-of-interests-value="<%= @pointOfInterests.to_json %>">

  <div class="card-category-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("road.jpg") %>)">
      <h1 class="compare-heading"> Find the path that suits you.</h1>
  </div>



  <% @pot_locs.each do |loc| %>
    <div class="adress-card-dropdown" id="<%= loc.id %>" data-compare-target="card">
      <div class="adress-card">
        <%= loc.address %>
        <p class="score" >10</p>
        <%# loc.score %>
      </div>


      <%# <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa-solid fa-angle-down" style="color: #bdbdbd;">
      </a> %>
      <div class="down-arrow" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <%= image_tag("caret.png", height: '20', width: '20') %>
        </div>
      <div class="collapse" id="collapseExample">

            <div class="content">
              <div class="amneties-progress-bar" >
                <div>
                  <p>Groceries</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar" style="width: 5%"></div>
                    </div>
                </div>

                  <div>
                  <p>Pharmacies </p>
                      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 30%"></div>
                      </div>
                  </div>

                  <div>
                      <p>Public transport</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar" style="width: 45%"></div>
                    </div>
                  </div>
              </div>
            </div>
      </div>
    </div>
  <% end %>



</div>

<div class ="button-map">
  <%= link_to 'Back to map page', map_path(@map) %>
</div>




<%# THIS SCRIPT BELOW IS TEMPORARILY PLACED IN SHOW.HTML.ERB - DO NOT DELETE %>
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= ENV['GOOGLE_API'] %>",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>
