<div class="score-div"
  data-controller="compare"
  data-compare-potential-locations-value="<%= @potentialLocations.to_json %>"
  data-compare-map-id-value="<%= @map.id %>"
  data-compare-point-of-interests-value="<%= @pointOfInterests.to_json %>"
  data-action="DOMContentLoaded->compare#matrix">

    <h1 class="text-center"><strong>Compare Scores for <%= @map.city %></strong></h1>

 <div class="transportation-btn-div">
    <button class="btn-active"
            data-travel-mode="walking"
            data-action="click->compare#getScores"
            data-compare-target="buttons">
        <div class="">
          <i class="fa-solid fa-person-walking fa-lg"></i>
        </div>
          <div>
            <p class="distance-name"> Walking</p>
          </div>
    </button>

    <button class="btn-distances"
            data-travel-mode="cycling"
            data-action="click->compare#getScores"
            data-compare-target="buttons">
      <div class="">
        <i class="fa-solid fa-bicycle fa-lg"></i>
      </div>
      <div>
        <p class="distance-name">Cycling</p>
      </div>
    </button>


    <button class="btn-distances"
            data-travel-mode="bus"
            data-action="click->compare#getScores"
            data-compare-target="buttons">
      <i class="fa-solid fa-bus fa-lg"></i>
      <div>
        <p class="distance-name">Public Transit</p>
      </div>
    </button>

    <button class="btn-distances"
            data-travel-mode="driving"
            data-action="click->compare#getScores"
            data-compare-target="buttons">
      <div class="">
        <i class="fa-solid fa-car fa-lg"></i>
      </div>
        <div>
          <p class="distance-name">Driving</p>
        </div>
    </button>
  </div>

  <% @pot_locs.each do |loc| %>
    <div
      class="adress-card-dropdown"
      data-card-id="<%= loc.id %>"
      data-compare-target="card">

      <div class="adress-card">
        <%= loc.address %>
        <p class="score" ></p>
      </div>

      <%# <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa-solid fa-angle-down" style="color: #bdbdbd;">
      </a> %>
            <div class="d-flex justify-content-around mt-3">
              <% @pois.each do |poi| %>
              <div data-poi-id="<%= poi.id %>">
                  <div class="">
                    <h5 class="poi_name"><%= poi.name %></h5>
                    <div class="poi-icons">
                      <i class="fa-regular fa-compass"></i>
                      <h6 class="distance"></h6>
                    </div>
                    <div class="poi-icons">
                      <i class="fa-regular fa-clock"></i>
                      <h6 class="time"></h6>
                    </div>
                  </div>
              </div>
              <% end %>
            </div>
    </div>
  <% end %>
</div>

<%# THIS SCRIPT BELOW IS TEMPORARILY PLACED IN SHOW.HTML.ERB - DO NOT DELETE %>
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= ENV['GOOGLE_API'] %>",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>
