<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("GPS.jpg") %>)">
  <h1>My Cities</h1>
</div>



<%= simple_form_for(@map) do |f| %>
  <div class="city-form">
      <%= f.input :city, placeholder: "Which city are you moving to?", label: false, input_html: { class: "city-form-inputs" }%>
      <%= f.submit "Add a city", class: "btn-add-city" %>
  </div>
<% end %>



  <ul>
    <% @maps.each do |map| %>
<div class="card-category">
      <li class="card-item">
        <div class="card-content">
          <p><%= map.city %></p>
          <a class="btn btn-flat" href="/maps/<%=map.id%>">Open Map</a>
        </div>
      </li>
</div>
    <% end %>
  </ul>
