<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("GPS.jpg") %>)">
  <h1>My Cities</h1>
</div>



  <%= simple_form_for(@map) do |f| %>
<div class="city-form">

    <div class="form-inputs">
      <%= f.input :city, label: false %>
    </div>

    <div class="">
      <%= f.submit "Add a city", class: "btn-add-city" %>
    </div>
    </div>
  <% end %>
</div>



<ul>
  <% @maps.each do |map| %>
    <li>
      <p> City: <%= map.city %> </p>
      <p> Points of interests: <%= map.point_of_interests.count %> </p>
      <p> Potential homes mApt out: <%= map.potential_locations.count %> </p>
      <a class="btn btn-flat" href= "/maps/<%=map.id%>" >Open Map</a>
    </li>

  <% end %>
</ul>
