<div class="card-category-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("GPS.jpg") %>)">
  <h1>My Cities</h1>
</div>

<% if flash.now[:alert] %>
<% end %>


  <%= simple_form_for(@map, html: { data: { controller: 'autocomplete' } }) do |f| %>
    <div class="city-form">

      <div class="form-inputs">
        <%= f.input :city, label: false, input_html: { data: { autocomplete_target: 'searchField' } } %>
      </div>
      <%= render 'shared/form_hidden_google_info', f: %>
      <div class="">
        <%= f.submit "Add a city", class: "btn-add-city" %>
      </div>
    </div>
  <% end %>


<div class="card-category-3">
  <ul class="card-list">
    <% @maps.each do |map| %>
      <li class="card-item">
        <div class="card-content">
          <p><%= map.city.titleize %></p>
          <div class="image-container">
            <% unsplash_photo = Unsplash::Photo.search(map.city).first %>
            <% if unsplash_photo %>
              <%= image_tag(unsplash_photo.urls.regular, class: "card-image rounded") %>
            <% else %>
              <p>No image found for <%= map.city %>.</p>
            <% end %>
          </div>
          <a class="btn btn-add-city mt-2" href="/maps/<%= map.id %>">Open Map</a>
        </div>
      </li>
    <% end %>
  </ul>
</div>
