<div class="card-category-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("GPS.jpg") %>)">
  <h1>My Cities</h1>
</div>

<%# <input type="text" name="myAddress" placeholder="Enter your address" id="myAddress"/> %>




  <%= simple_form_for(@map) do |f| %>
<div class="city-form">

    <div class="form-inputs">
      <%= f.input :city, label: false, input_html: {id: 'myAddress'}%>
    </div>

    <div class="">
      <%= f.submit "Add a city", class: "btn-add-city" %>
    </div>
    </div>
  <% end %>
</div>




<div class="card-category-3">
  <ul class="card-list">
    <% @maps.each do |map| %>
      <li class="card-item">
        <div class="card-content">
          <p><%= map.city.capitalize %></p>
          <div class="image-container">
            <% unsplash_photo = Unsplash::Photo.search(map.city).first %>
            <% if unsplash_photo %>
              <%= image_tag(unsplash_photo.urls.regular, class: "card-image", height: '800', width: '800') %>
            <% else %>
              <p>No image found for <%= map.city %>.</p>
            <% end %>
          </div>
          <a class="btn btn-add-city mt-2" href="/maps/<%= map.id %>">Open Map</a>
        </div>
      </li>
    <% end %>
  </ul>
</div>



<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= ENV['GOOGLE_API'] %>",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
        const callAutocomplete = async () => {
            var autocomplete;
            const { Place } = await google.maps.importLibrary("places");
            var searchInput = 'myAddress';
            autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
                types: ['geocode'],
                fields: ['geometry', 'name', 'place_id']

            });

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var near_place = autocomplete.getPlace();
                console.log(near_place)
            });

        };
        callAutocomplete();

</script>
