<div class="card-category-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("GPS.jpg") %>)">
  <h1>My Cities</h1>
</div>




<%= simple_form_for(@map) do |f| %>
  <div class="city-form">
      <%= f.input :city, placeholder: "Which city are you moving to?", label: false, input_html: { class: "city-form-inputs" }%>
      <%= f.submit "Add a city", class: "btn-add-city" %>
  </div>
<% end %>




<div class="card-category-3">
  <ul>
    <% @maps.each do |map| %>
        <li class="card-item">
          <div class="card-content">
            <p><%= map.city.capitalize %></p>
            <% unsplash_photo = Unsplash::Photo.search(map.city).first %>
            <% if unsplash_photo %>
              <div class="image-container">
                <%= image_tag(unsplash_photo.urls.regular, class: "card-image") %>
              </div>
            <% else %>
              <p>No image found for <%= map.city %>.</p>
            <% end %>
            <a class="btn btn-add-city mt-2" href="/maps/<%= map.id %>">Open Map</a>
          </div>
        </li>
    <% end %>
  </ul>
</div>
