<div class="header-div">



    <h1><strong><%= @map.city %></strong></h1>



  <%# create a logic to display city name that was created %>
    <%= simple_form_for([@map, @new_pot_loc], html: { data: { controller: 'autocomplete' } }) do |f| %>
      <div class="header-search">
        <div class="form-inputs">
          <%= f.input :address, label: false, input_html: { data: { autocomplete_target: 'searchField' }, placeholder: "Where are you thinking of moving?", class: "search-input-map" }%>
        </div>
        <%= render 'shared/form_hidden_google_info', f: %>
        <div class="form-actions">
          <%= f.button :submit, class: "search-button-map" %>
        </div>
      </div>
    <% end %>

    <button class="btn-options" onclick="window.location.href='/maps/<%= @map.id %>/point_of_interests';">My Address Book</button>
    <button class="btn-options" onclick="window.location.href='/maps/<%= @map.id %>/compare';">Compare Scores</button>

 </div>

  <div class="pol-div">
    <% @pot_locs.each do |loc| %>
      <div class="adress-div">
        <%= loc.address %>
        <div class ="delete-pol">
          <%= link_to potential_location_path(loc), data: {turbo_method: :delete, turbo_confirm: "Delete #{loc.address}?"} do %>
            <i class="fa-solid fa-x fa-2xs" style="color: #c9c9c9;"></i>
          <% end %>
        </div>
      </div>
  <% end %>
</div>



<div class="map-toggle">
    <div
      id="map"
      data-controller="map"
      data-map-city-info-value="<%= @map.google_info.to_json %>"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-poi-ids-value="<%= @point_of_interests_ids.to_json %>"
      data-map-target="content"
      >
  </div>

<div class="legend-card">
    <div class="legend-color-poi">
      <p></p>
    </div>
      <p>Potential Locations</p>
        <div class="legend-color-pol">
      <p></p>
        </div>
          <p>Address Book</p>
        </div>
    </div>
</div>

<%# THIS SCRIPT BELOW IS TEMPORARILY PLACED IN SHOW.HTML.ERB - DO NOT DELETE %>
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= ENV['GOOGLE_API'] %>",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>
