<div class="navbar navbar-expand-sm navbar-light navbar-mapt">
  <div class="container-fluid">
    <div class="navbar-img">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("logo.png")%>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item">
          <div class="links d-flex flex-row">
          <div class="p-2">
            <%= link_to "My Cities", my_maps_path, class: "nav-link" %>
          </div>
          </li>
          <li class="nav-item">
          <div class="p-2">
            <%# link_to "My Address Book", point_of_interests_path, class: "nav-link" %>
          </div>
          </li>
        </ul>
      <% end %>

      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/louisrivest", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
