<div class="container-address-book">
  <div>
    <h1>My address book</h1>

    <%= simple_form_for(@poi) do |f| %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :address %>
        <p>Category</p>
        <%= f.select :category, [["People"], ["Food"], ["School"], ["Work"]] %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>

  <div>
    <% if current_user.maps.any? %>
        <%= @pois.first.map.name %>
        <% @pois.each do |poi| %>
          <div class="card-poi">
            <div class="poi-white">
             <div>
                <p><%= poi.name %></p>
                <p><%= poi.category %></p>
              </div>
            </div>
             <div class="poi-purple">
               <p><%= poi.address %></p>
             </div>
          </div>
        <% end %>
    <% else %>
      <p>You have no maps</p>
    <% end %>
  </div>
</div>
