<div class="container-address-book">
  <div>
  <div class= "poi-title">
      <i class="fa-solid fa-address-book fa-2xl" style="color: #11009e;"></i>
    <h2>My address book </h2>
  </div>
    <%= simple_form_for(@poi) do |f| %>
    <div>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :category, collection: ["People", "Food", "School", "Work"]   %>

      </div>

      <div class="form-actions">
        <%= f.button:submit %>
      </div>
    </div>
    <% end %>
  </div>

  <div>
    <% if current_user.maps.any? %>
        <%= @pois.name %>
          <% @pois.each do |poi| %>
            <div class="card-poi">
              <div class="poi-white">
                <div>
                  <p><%= poi.name %></p>
                  <p class="poi-black"><%= poi.category %></p>
                </div>
                <div class="poi-edit-garbage" >
                  <i class="fa-solid fa-pen" style="color: #11009e;"></i>
                  <i class="fa-solid fa-trash-can" style="color: #11009e;"></i>
                </div>
              </div>
              <div class="poi-purple">
                <p><%= poi.address %></p>
              </div>
            </div>
          <% end %>
    <% else %>
      <p>You have no maps, yet</p>
    <% end %>
  </div>
</div>
